<div class="container-fluid wow fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <h3 class="section-title">Shop</h3>
      <div class="section-title-divider"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item active">Categories</li>
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let category of categories">
          <span class="">{{category.Name}}</span>
          <span class="badge badge-primary badge-pill">{{category.NumberOfFishes}}</span>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-7">
          <div class="form-group">
            <label>Search</label>
            <div class="form-group input-group">
              <input type="text" ng-required="true" class="form-control" placeholder="Search" ng-model="searchKey">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Category</label>
            <div class="form-group input-group">
              <select class="form-control" ng-model="searchCategory">
                <option *ngFor="let category of categories">{{category.Name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>&nbsp;</label>
            <button class="btn btn-primary btn-block"><i class="fa fa-search"></i> Search</button>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div *ngFor="let fish of fishes" class="col-md-4 service-item">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="{{fish.ImagePath}}" alt="">
                <h2 class="text-primary">{{fish.Name}}</h2>
                <p>
                  <strong class="text-primary">{{fish.OtherNames}}</strong>
                  <br>
                  <span>{{fish.Description | truncateString: 100}}</span>
                  <br>
                  <strong>Net Weight: </strong>{{fish.NetWeight}}
                  <br>
                  <strong>Gross Weight: </strong>{{fish.GrossWeight}}
                  <br>
                  <strong>Price: </strong><s>{{fish.MarketPrice}}</s> {{fish.OurPrice}}</p>
                <a href="#" class="btn btn-success" style="margin-bottom: 25px"><i class="fa fa-shopping-cart"></i> Add
                  to cart</a>
              </div>
              <div class="product-overlay bg-primary">
                <div class="overlay-content">
                  <h2>{{fish.Name}}</h2>
                  <p>
                    <strong>{{fish.OtherNames}}</strong>
                    <br>
                    <span>{{fish.Description | truncateString: 100}}</span>
                    <br>
                    <strong>Net Weight: </strong>{{fish.NetWeight}}
                    <br>
                    <strong>Gross Weight: </strong>{{fish.GrossWeight}}
                    <br>
                    <strong>Price: </strong><s>{{fish.MarketPrice}}</s> {{fish.OurPrice}}</p>
                  <a href="#" class="btn btn-success" style="margin-bottom: 25px"><i class="fa fa-shopping-cart"></i>
                    Add
                    to cart</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</div>